.chat-controller {
	font-family: Arial, sans-serif;
}

.chat-metrics {
	width: 300px;
	border: 1px solid lightgray;
	margin: 20px 10px;
	padding: 16px;

	table {
		width: 100%;

		td.right {
			text-align: right;
		}
	}
}

.chat-container {

	width: 300px;
	height: 350px;
	margin: 20px 10px;
	border: 1px solid lightgray;
	padding: 16px;

	.messages {
		height: 250px;
		overflow: scroll;
		padding-bottom: 10px;

		.message {
			border-bottom: 1px dotted lightgrey;
			padding: 4px 6px;

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	.message-input {

		input {
			font-size: 16px;
			padding: 1px 4px;
			width: 96%;
			height: 30px;
			border: 2px solid gray;
			outline: 0;
		}
	}

	.message-button {

		button {
			margin: 8px 0 0 0;
		}
	}

	.count {
		margin: 8px 0 0 3px;
	}
}

.request-status {
	position: fixed;
	top: 20px;
	left: 400px;
	height: 30px;
}

.giphys {
	position: fixed;
	top: 50px;
	left: 400px;
	height: 500px;
	overflow: scroll;
}